# configuration.yaml for HAOS
# change LOCAL_IP to your own localhost, restart HAOS so configuration.yaml is updated
#
# For Automations, you can use 'Perform action' for either mute or unmute
rest_command:
  discord_mute:
    url: "http://LOCAL_IP:3000/webhook?state=open"
    method: POST
  discord_unmute:
    url: "http://LOCAL_IP:3000/webhook?state=closed"
    method: POST

